<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:name="com.doyoonkim.knutice.MainApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.KNUTICE"
        android:windowSoftInputMode="adjustResize"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id"/>

        <activity
            android:name="com.doyoonkim.knutice.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.KNUTICE">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Intent filter for handling Deeplink -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="knutice" />
                <data android:host="service" />
                <data android:host="notice" />
                <data android:host="bookmark" />
                <data android:host="meal" />
                <data android:host="reading-room" />

            </intent-filter>
        </activity>

        <activity
            android:name="com.doyoonkim.knutice.WidgetConfigurationActivity"
            android:exported="true"
            android:theme="@style/Theme.KNUTICE" >

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>

        </activity>


        <activity
            android:name="com.doyoonkim.knutice.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/Theme.KNUTICE" />

        <service android:name="com.doyoonkim.notification.fcm.PushNotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <receiver android:name="com.doyoonkim.notification.local.AlarmReceiver" />

        <receiver
            android:name="com.doyoonkim.widget.KnuticeWidgetReceiver"
            android:label="@string/widget_preview_title"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/knutice_notices_widget_info" />
        </receiver>

        <!--Prevent Default initialization of WorkManager instance-->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="com.doyoonkim.knutice.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>
    </application>
</manifest>